{% extends "main/base.html" %}
{% block body %}


<!-- Page Heading -->
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">🧩 Challenges </h1>
  </div>
</section>


<!-- Begin Page Content -->
<div class="container-fluid">
 
  {% if current_user.has_role('Admin') %}
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Add a new challenge</h6>
    </div>
    <div class="card-body">
      <form method="POST" action="/addchallenge">
        <div class="form-group">
          <label for="challengeName">Challenge Name</label>
          <input type="text" class="form-control" id="challengeName" placeholder="Name" name="challenge_name">
        </div>
        <div class="form-group">
          <label for="challengeValue">Value (points)</label>
          <input type="number" class="form-control" id="challengeValue" value="10" name="value">
        </div>
        <div class="form-group">
          <label for="challengeDesc">Question/Description</label>
          <input type="textarea" class="form-control" id="challengeDesc"
            placeholder="How many employees are in the company?" name="description">
        </div>
        <div class="form-group">
          <label for="challengeAnswer">Answer</label>
          <input type="text" class="form-control" id="challengeAnswer" placeholder="Answer" name="answer" rows="3">
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Submit">
      </form>
    </div>
  </div>
  {% endif %}
  
  <!-- DataTales Example -->
  {% for challenge in challenges %}
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            {{challenge.name}} ({{challenge.value}} points)
            {% if current_user.id in challenge.solvers %}
             - ✅ Solved 
            {% endif%}
          </h6>
          {% if current_user.has_role('Admin') %}
          <form action="/deletechallenge" method="post">
            <input type="hidden" name="challenge_id" value="{{ challenge.id }}">
            <input type="submit" class="btn btn-danger float-right btn-sm"  value="Delete Challenge"
            onclick="return confirm('Are you sure you want to delete this user?')">
          </form>
          {% endif %}
        </div>
        <div class="card-body">
            {% if current_user.has_role('Admin') %}
            <form method="POST" action="/editchallenge">
              <div class="form-group">
                <label for="challengeName">Challenge Name</label>
                <input type="text" value="{{challenge.name}}" class="form-control" id="challengeName" placeholder="Name" name="challenge_name">
              </div>
              <div class="form-group">
                <label for="challengeValue">Value (points)</label>
                <input type="number"  value="{{challenge.value}}" class="form-control" id="challengeValue" value="10" name="value">
              </div>
              <div class="form-group">
                <label for="challengeDesc">Question/Description</label>
                <input type="textarea"  value="{{challenge.description}}" class="form-control" id="challengeDesc"
                 name="description">
              </div>
              <div class="form-group">
                <label for="challengeAnswer">Answer</label>
                <input type="text"  value="{{challenge.answer}}" class="form-control" id="challengeAnswer" placeholder="Answer" name="answer" rows="3">
              </div>
              <input type="hidden" value="{{challenge.id}}" name="challenge_id" >
              <input type="submit" class="btn btn-primary btn-block" value="Submit">
            </form>
            {% else %}
                <p>{{ challenge.description }} </p>
             
           <form class="form-inline" method="POST" action="/solve">
            <div class="form-group mx-sm-3 mb-2">
              <label for="answer" class="sr-only">Answer</label>
                {% if current_user.id in challenge.solvers %}
                 <input type="text" class="form-control" id="answer" name="answer" value="{{challenge.answer}}" readonly>
                {% else %}
                <input type="text" class="form-control" id="answer" name="answer" placeholder="Answer">
                {% endif%}
              <input type="hidden" name="challenge_id"  value="{{ challenge.id}}" > 
            </div>
            <input type="submit" class="btn btn-primary btn-sm mb-2" value="Submit"
            {% if current_user.id in challenge.solvers %}
              disabled
            {% endif%}  
            >
          </form>
          {% endif %}
        </div>
        {% if current_user.has_role('Admin') %}
        <div class="card-footer">
          <p><b>Solved by:</b></p>
          {% for solver in challenge.solver_names %}
            <span class="badge badge-success">{{solver}}</span>
          {% endfor %}
        </div>
        {% endif%}

      </div>

  {% endfor %}
  

</div>



{% endblock %}